.prow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.prow.pcenter {
  justify-content: center;
}
.prow.ptop {
  align-items: flex-start;
}
.pcol-1 {
  flex: 1 1 25rem;
}
.pcol-2 {
  flex: 2 1 50rem;
  width: 676.141px;
}
.pmin-30 {
  min-width: 30rem;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.psmall {
  max-width: 5rem;
  width: 100%;
}